.vscode
.git
.github
.idea
.clang-format
log.html
output.xml
report.html
results/
build/
doc/html/
tests/build
CMakeFiles/
autotests/__pycache__
.robotcode_cache/
autotests/log.html
autotests/output.xml
autotests/report.html
autotests/TestLog
